@import url('https://fonts.googleapis.com/css?family=Concert+One:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

* {
    box-sizing: border-box;

}

body {
    margin: 0; 
}

html {
    min-height: 100vh;
}

/*------Overlay Text---------*/

.screen-overlay{
    display:none;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Concert One",sans-serif;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff
}

.screen-overlay p {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.screen-overlay.show-front {
    display: flex
}

@media screen and (max-width: 1117px) {
   .screen-overlay {
       text-align: center;
   }
}

/*------Navbar---------*/
#navbar {
    width: 100%;
    height: 90px;
    background-color:#0E7A0D;

}

#navbar h2 {
    text-align: center;
    color: #fff
}

.header-title {
    padding-top: 30px
}

.header-title h2 span {
    padding-left: 10px;
}

@media screen and (max-width: 1117px) {
    #navbar h2 {
        font-size: 100%;
    }

    footer {
         bottom: 0
    }

    .card {
        width: 70px !important;
        height: 90px !important;

    }
}

.start{
    background: green;
}
/*---------------Timer---------------*/

.timer-info-container {
    grid-column: 1/-1;
    text-align: center;

}
.time-info {
    font-family: "Concert One",sans-serif;
    color: #0E7A0D;
    font-size: 30px;
}

/*---------------Cards---------------*/

.main-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
    margin-top: 0;

}


.card {
    height: 130px;
    width: 110px;
    border-radius: 5px;
    position: relative;
}

.card-shared-style {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility:hidden;
    transition: transform 500ms ease-in-out
}

.card i {
    font-size: 36px;
    color: #fff;
}

.card.show-front .card-back{
    transform: rotateY(-180deg);

}

.card.show-front .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
    background:#fff;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px;
    border: 2px solid #0E7A0D;
    

}

.card-front img{
    height: 50%;
    width: 80%;
}
.card-back {
    justify-content: center;
    height: 100%;
    position: relative;
    text-align: center;
    transform: rotateY(0);
    background-color: #0E7A0D;

}

.card-back i:hover {
 transition: transform 1.2s linear;
  transform: rotate(360deg);
}


